    <%- include("header"); -%>

    <div class="box" id="heading">
      <h1><%=ejsList%></h1>
    </div>
    <div class="box">
      <% for(var i = 0; i < ejsItems.length ; i++) { %>
      <div class="item">
        <input type="checkbox">
        <p><%= ejsItems[i] %></p>
      </div>
      <%    } %>

      <form class="item" action="/" method="post">
        <input type="text" name="addItem" placeholder="Add an Item" autocomplete="off">
        <button type="submit" name="button" value="<%=ejsList%>">+</button>
      </form>
    </div>
    <%- include("footer"); -%>
